{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Speecher</title>
    <link rel='stylesheet' href="{% static 'speecher/speecher.css' %}">
</head>

<body>

    <div class="wrapper">
        <div class="title" data-text="Data Extraction Terminal">Data Extraction Terminal</div>

            <form action="post">
                <div class="user-input-wrapper">
                    <label for="video-url">URL</label>
                        <input type="text" id="video-url" placeholder="Only a valid YouTube URL accepted">

                </div>
                <div class="user-input-wrapper">
                    <label for="prompt">Prompt</label>
                        <input type="text" id="prompt" placeholder="Inject your prompt here, data stream awaiting input">
                </div>

                <button type='submit' id="extract-button">Extract data</button>
            </form>

        <textarea disabled name="result-text" id="result-text"
            placeholder="Processed info will appear here..."></textarea>

    </div>
</body>

</html>