{% extends 'base.html' %}

{% load static %}

{% block css_files%}
<link rel="stylesheet" href="{% static "blog/index.css"%}">
{% endblock %}

{% block title %}
Andy's Blog
{% endblock  %}


{% block content %}

{% include "blog/components/navigation-header.html" %}

<section id="welcome">
    <header>
        <img src="{% static "blog/images/andy.jpeg"%}" alt="Andy the author of this blog">
    </header>
    <p>Hi, I am andy and I love to blog about tech and the world</p>
</section>

<section id="latest-posts">
    <h2>My Latest Thoughts</h2>
    <ul>
        <li>
            <article class="post">
                <a href="">
                    <img src="" alt="Mountain" />
                    <div class="post-content">
                        <h3>Mountain Hiking</h3>
                        <p>
                            There's nothing like the views you get when hiking in the mountains! And I wasn't even
                            prepared
                            for what happened whilst I was enjoying the view!
                        </p>
                    </div>
                </a>
            </article>
        </li>
    </ul>
</section>

<section id="about">
    <h2>What I do </h2>
    <p>I love programming, I love to help others and enjoy exploring new technologies </p>
    <p>My goal is to keep growing as a developer</p>
</section>

{% endblock %}